<mat-card class="mat-elevation-z8 full-width" style="margin-bottom: 20px">

  <div class="row">
    <div class="col-md-3 col-sm-12 item">
      <span>Titulo</span>
      <span>{{ list.titulo }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Dificuldade</span>
      <span>{{ list.nivelDificuldade }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Área de Conhecimento</span>
      <span>{{ list.areaDeConhecimento }}</span>
    </div>
    <div class="col-md-2 col-sm-12 item">
      <span>Disciplina</span>
      <span>{{ list.disciplina }}</span>
    </div>
    <div class="col-md-1 col-sm-12 item--menu"
         [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </div>
    <div class="col-md-5 col-sm-12 item">
      <span>Tags</span>
      <span *ngFor="let tag of list.tags">{{ tag }}</span>
    </div>

  </div>

  <mat-menu #menu="matMenu" [matMenuTriggerFor]="menu">
    <ng-template matMenuContent>
      <button mat-menu-item type="button" (click)="onSelect(list)">Detalhes</button>
<!--      <button mat-menu-item type="button" (click)="onDelete()">Eliminar</button>-->
    </ng-template>
  </mat-menu>

</mat-card>
