<mat-card class="mat-elevation-z8 full-width" style="margin-bottom: 20px">

  <div class="row">
    <div class="col-md-3 col-sm-12 item">
      <span>Tipo</span>
      <span>{{ question.tipo }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Dificuldade</span>
      <span>{{ question.nivelDificuldade }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Área de Conhecimento</span>
      <span>{{ question.areaDeConhecimento }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Tempo de Resposta</span>
      <span>{{ question.tempoMaximoDeResposta }}</span>
    </div>
    <div class="col-md-12 col-sm-12 item">
      <span>Enunciado</span>
      <span>
        {{ question.enunciado }}
      </span>
    </div>
    <div class="col-md-6 col-sm-12 item">
      <span>Autor</span>
      <span>{{ question.usuario }}</span>
    </div>
    <div class="col-md-5 col-sm-12 item">
      <span>Tags</span>
      <span>{{ question.tags }}</span>
    </div>
    <div class="col-md-1 col-sm-12 item--menu"
         [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

  <mat-menu #menu="matMenu" [matMenuTriggerFor]="menu">
    <ng-template matMenuContent>
      <button mat-menu-item type="button" (click)="selectDetail(question)">Detalhes</button>
      <button mat-menu-item type="button" (click)="selectDelete()">Eliminar</button>
    </ng-template>
  </mat-menu>

</mat-card>
