<div class="row mb-2">

  <div class="col-md-6" style="display: flex; align-items: center;">
    <h3>Listas</h3>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <button mat-raised-button (click)="onListNew()" [color]="'primary'">Nova Lista</button>
  </div>

</div>

<mat-card class="mt-2 mb-2">

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">

    <div class="row">

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12" appearance="outline">
        <input matInput type="text" formControlName="tags" placeholder="Tags" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Área de Conhecimento</mat-label>
        <mat-select formControlName="areaDeConhecimento">
          <mat-option></mat-option>
          <mat-option *ngFor="let areaDeConhecimento of areasDeConhecimento"
                      [value]="areaDeConhecimento.codigo">
            {{areaDeConhecimento.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Disciplina</mat-label>
        <mat-select formControlName="disciplina">
          <mat-option></mat-option>
          <mat-option *ngFor="let disciplina of disciplinas"
                      [value]="disciplina.codigo">
            {{disciplina.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Tempo Máximo de Resposta</mat-label>
        <input matInput type="number" formControlName="tempoEsperadoResposta"
               placeholder="Tempo esperado de resposta" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"
                      appearance="outline">
        <mat-label>Dificuldade</mat-label>
        <mat-select formControlName="nivelDificuldade">
          <mat-option></mat-option>
          <mat-option [value]="1">Muito Fácil</mat-option>
          <mat-option [value]="2">Fácil</mat-option>
          <mat-option [value]="3">Médio</mat-option>
          <mat-option [value]="4">Difícil</mat-option>
          <mat-option [value]="5">Muito difícil</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Autor</mat-label>
        <input matInput type="text" formControlName="usuario" placeholder="Autor" autocomplete="off">
      </mat-form-field>

      <div class="col-md-12" style="display: flex; justify-content: flex-end;">
        <button mat-raised-button [color]="'accent'">Buscar</button>
      </div>
    </div>
  </form>

</mat-card>
