<mat-toolbar color="primary"></mat-toolbar>

<div class="container">

  <form formGroup="" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">

    <h2 style=" margin: 20px 0;">Login</h2>

    <div style="display: flex; flex-direction: column; align-items: center; width: 300px;">

      <mat-form-field appearance="outline" style="width: 100%">
        <input matInput type="text" placeholder="Login">
        <mat-error *ngIf=""></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <input matInput type="text" placeholder="Password">
      </mat-form-field>

      <button style="width: 100%" mat-raised-button color="primary">Entrar</button>

    </div>
  </form>

</div>
