<mat-drawer-container class="sidenav__container">

  <mat-drawer mode="side" [opened]="sidebarOpened()">
    <mat-nav-list>

      <mat-list-item class="sidenav__list--item"
                     *ngIf="!isAuthenticated"
                     routerLinkActive="active"
                     [routerLink]="[routes.login]">
        <mat-icon>home</mat-icon><span>Login</span>
      </mat-list-item>

      <mat-list-item class="sidenav__list--item"
                     routerLinkActive="active"
                     *ngIf="isAuthenticated"
                     [routerLink]="[routes.questoes.base]">
        <mat-icon>chat_bubble_outline</mat-icon><span>Questões</span>
      </mat-list-item>

      <mat-list-item class="sidenav__list--item"
                     routerLinkActive="active"
                     *ngIf="isAuthenticated"
                     [routerLink]="[routes.listas.base]">
        <mat-icon>library_books</mat-icon><span>Listas</span>
      </mat-list-item>

      <mat-list-item class="sidenav__list--item"
                     *ngIf="isAuthenticated" (click)="logout()">
        <span>Sair</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
