<div class="row mt-2 mb-2">
  <div class="col-md-6">
    <h3>Listas</h3>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <button mat-raised-button (click)="onListNew()" [color]="'primary'">Nova Lista</button>
  </div>
</div>

<mat-card class="mt-2 mb-2">
<!--  <form [formGroup]="listsSearchForm">-->

<!--    <div class="row">-->
<!--      <mat-form-field class="col-md-6 col-sm-12 full-width font-size&#45;&#45;12" appearance="outline">-->
<!--        <input matInput type="text" formControlName="buscar" placeholder="Buscar" autocomplete="off">-->
<!--        <mat-icon matSuffix>search</mat-icon>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12" appearance="outline">-->
<!--        <input matInput type="text" formControlName="autor" placeholder="Autor" autocomplete="off">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <mat-label>Dificuldade</mat-label>-->
<!--        <mat-select formControlName="nivelDificuldade">-->
<!--          <mat-option>Fácil</mat-option>-->
<!--          <mat-option>Tranquilo</mat-option>-->
<!--          <mat-option>Dificil</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <mat-label>Tipo</mat-label>-->
<!--        <mat-select formControlName="tipo">-->
<!--          <mat-option>Discursiva</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <input matInput type="text" formControlName="areaDeConhecimento" placeholder="Área de Conhecimento" autocomplete="off">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <input matInput type="text" formControlName="tempoMaximoDeResposta" placeholder="Tempo máximo de resposta" autocomplete="off">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <input matInput type="text" formControlName="tags" placeholder="Tags" autocomplete="off">-->
<!--      </mat-form-field>-->

<!--      <div class="col-md-12" style="display: flex; justify-content: flex-end;">-->
<!--        <button mat-raised-button [color]="'accent'">Buscar</button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </form>-->

</mat-card>
