<div *ngIf="isLoading && !hasError">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<div class="container">

  <button (click)="handleLogin()">Login</button>

  <app-questions-search (emitSearchFormSubmition)="handleSearchFormSubmition($event)"></app-questions-search>

  <app-questions-card [hidden]="isLoading" *ngFor="let question of questions;"
                      [question]="question"></app-questions-card>

  <div *ngIf="!isLoading && questions.length === 0">
    <mat-card>
      <span>Nenhuma questão encontrada</span>
    </mat-card>
  </div>

  <div *ngIf="isLoading && !hasError" style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="hasError">
    <mat-card>
      <span>Não foi possível acessar os dados.</span>
    </mat-card>
  </div>

  <br>
</div>

