<div class="row mt-2 mb-2">
  <div class="col-md-6 col-sm-6" style="display: flex; justify-content: flex-start; align-items: center;">
    <h3 style="text-transform: capitalize">Questões</h3>
  </div>
  <div class="col-md-6 col-sm-6" style="display: flex; justify-content: flex-end; align-items: center;">
    <button mat-raised-button [color]="'primary'" type="button" (click)="onQuestionNew()">Nova Questão</button>
  </div>
</div>

<div class="mt-2 mb-2">

  <form [formGroup]="searchForm" (ngSubmit)="onFormSubmitted()">

    <div class="row">
      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12" appearance="outline">
        <input matInput type="text" formControlName="enunciado" placeholder="Enunciado" autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12" appearance="outline">
        <input matInput type="text" formControlName="tags" placeholder="Tags" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Área de Conhecimento</mat-label>
        <mat-select formControlName="areaDeConhecimento">
          <mat-option></mat-option>
          <mat-option [value]="'10301003'">Teoria da Computação</mat-option>
          <mat-option [value]="'10302000'">Matemática da computação</mat-option>
          <mat-option [value]="'10303006'">Metodologias da computação</mat-option>
          <mat-option [value]="'10304002'">Sistemas da computação</mat-option>
          <mat-option [value]="'10300007'">Ciência da computação</mat-option>
          <mat-option [value]="'10301046'">Lógica e semântica de programas</mat-option>
          <mat-option [value]="'10303014'">Linguagens de programação</mat-option>
          <mat-option [value]="'10303022'">Engenharia de Software</mat-option>
          <mat-option [value]="'10303030'">Banco de Dados</mat-option>
          <mat-option [value]="'10303049'">Sistemas de informação</mat-option>
          <mat-option [value]="'10304029'">Arquitetura de Sistemas de Informação</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Disciplina</mat-label>
        <mat-select formControlName="disciplina">
          <mat-option></mat-option>
          <mat-option [value]="0">Discursiva</mat-option>
          <mat-option [value]="1">Objetiva</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipoQuestao">
          <mat-option></mat-option>
          <mat-option [value]="0">Discursiva</mat-option>
          <mat-option [value]="1">Objetiva</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Tempo Máximo de Resposta</mat-label>
        <input matInput type="number" formControlName="tempoRespostaEsperado" placeholder="Tempo máximo de resposta" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Dificuldade</mat-label>
        <mat-select formControlName="nivelDificuldade">
          <mat-option></mat-option>
          <mat-option [value]="1">Muito Fácil</mat-option>
          <mat-option [value]="2">Fácil</mat-option>
          <mat-option [value]="3">Médio</mat-option>
          <mat-option [value]="4">Difícil</mat-option>
          <mat-option [value]="5">Muito difícil</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-3 col-sm-12 full-width font-size--12"  appearance="outline">
        <mat-label>Autor</mat-label>
        <input matInput type="text" formControlName="autor" placeholder="Autor" autocomplete="off">
      </mat-form-field>



<!--      <mat-form-field class="col-md-6 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <mat-label>Disciplina</mat-label>-->
<!--        <input matInput type="text" formControlName="disciplinaId" placeholder="Disciplina" autocomplete="off">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="col-md-3 col-sm-12 full-width font-size&#45;&#45;12"  appearance="outline">-->
<!--        <input matInput type="text" formControlName="tags" placeholder="Tags" autocomplete="off">-->
<!--      </mat-form-field>-->

      <div class="col-md-12" style="display: flex; justify-content: flex-end;">
        <button mat-raised-button [color]="'accent'">Buscar</button>
      </div>
    </div>

  </form>

</div>
