<mat-toolbar color="primary"></mat-toolbar>

<div class="container">

  <form class="login__form">

    <h2 class="login__form--title">Login</h2>

    <div class="login__form--inputs">

      <mat-form-field class="input__full-width"
                      appearance="outline">
        <input matInput type="text" placeholder="Login">
      </mat-form-field>

      <mat-form-field class="input__full-width"
                      appearance="outline">
        <input matInput type="password" placeholder="Password">
      </mat-form-field>

      <button class="input__full-width"
              mat-raised-button color="primary">Entrar</button>

    </div>
  </form>

</div>
