<div *ngIf="isLoading">
    <mat-progress-bar></mat-progress-bar>
</div>

<div class="container">

    <div class="row mt-4">
        <div class="col-md-6">
            <button (click)="returnToList()" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>


        <div class="col-md-6">
          <button class="full-width"
                  matTooltip="Salvar Lista"
                  mat-raised-button color="primary" [disabled]="listForm.invalid">
            Pronta para Aplicação
          </button>
        </div>
    </div>

    <div class="row mt-2">

        <div class="col-md-12 mt-2 mb-2" *ngIf="!isLoading">

            <form [formGroup]="listForm" (ngSubmit)="submit()">
                <mat-card>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <h4>{{screenTitle}} Lista</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width font-size--12" appearance="outline">
                                <mat-label>Titulo</mat-label>
                                <input matInput formControlName="titulo" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mt-2 mb-2">
                            <h4 class="mb-3">Selecionar Questão:</h4>
                            <mat-card class="mb-3" *ngFor="let question of questions;">
                                {{ question.enunciado }} -
                                <span style="cursor: pointer" (click)="addQuestion(question)">Selecionar</span>
                            </mat-card>
                        </div>

                        <div class="col-md-6 mb-4">
                            <h4>Questões Selecionadas</h4>
                            <mat-card class="mb-3" *ngFor="let question of selectedDiscursivas">
                                {{ question.enunciado }}
                            </mat-card>
                            <mat-card class="mb-3" *ngIf="selectedDiscursivas.length <= 0">
                                Nenhuma questão selecionada!
                            </mat-card>
                        </div>

                    </div>

                </mat-card>

                <div class="col-md-6 mt-2 mb-2">
                    <div *ngIf="isLoading && !hasError"
                         style="display: flex; justify-content: center; align-items: center;">
                        <mat-spinner></mat-spinner>
                    </div>

                    <div *ngIf="hasError">
                        <mat-card>
                            <span>Não foi possível acessar os dados.</span>
                        </mat-card>
                    </div>
                </div>


            </form>
        </div>

        <div class="col-md-12" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
    </div>

</div>
