<div *ngIf="isLoading && !hasError">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<mat-card *ngIf="isListaInicializada()" style="display: flex; justify-content: space-between;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h4>Lista: {{ getNovaLista()?.titulo === '' ? 'Sem nome' : getNovaLista()?.titulo }}</h4>
    <p style="padding-left: 20px;">Qtd. Questões: {{ this.listsService.qtdQuestoes > 0 ? this.listsService.qtdQuestoes : 'Nenhuma' }}</p>
  </div>
  <div>
    <button type="button" mat-stroked-button style="margin-right: 10px"
            color="warn" (click)="listsService.cancelarNovaLista()">Cancelar Lista</button>

    <button mat-stroked-button type="button" color="primary" (click)="onNavBackToList()">Voltar para a Lista</button>
  </div>
</mat-card>

<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-md-12">
      <app-questions-search
        (questionNew)="onNavQuestionNew()"
        (submitted)="onSearch($event)">
      </app-questions-search>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">

  <table style="width: 100%" mat-table [dataSource]="questions" class="mat-elevation-z8">

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo. </th>
      <td mat-cell *matCellDef="let element"> {{ tipoQuestao[element.tipo] }} </td>
    </ng-container>

    <ng-container matColumnDef="enunciado">
      <th mat-header-cell *matHeaderCellDef> Enunciado. </th>
      <td mat-cell *matCellDef="let element"> {{element.enunciado}} </td>
    </ng-container>

    <ng-container matColumnDef="dificuldade">
      <th mat-header-cell *matHeaderCellDef> Dificuldade. </th>
      <td mat-cell *matCellDef="let element"> {{ nivelDificuldade[element.nivelDificuldade] }} </td>
    </ng-container>

    <ng-container matColumnDef="tempoMaximoDeResposta">
      <th mat-header-cell *matHeaderCellDef> Tempo Esperado de Resposta. </th>
      <td mat-cell *matCellDef="let element"> {{ element.tempoMaximoDeResposta }} </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="$event.stopPropagation()"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{ question: element }">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="!isLoading && questions.length === 0">
    <mat-card>
      <span>Nenhuma questão encontrada</span>
    </mat-card>
  </div>

  <div *ngIf="isLoading && !hasError"
       style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="hasError">
    <mat-card>
      <span>Não foi possível acessar os dados.</span>
    </mat-card>
  </div>

  <mat-menu #menu="matMenu" [matMenuTriggerFor]="menu">
    <ng-template matMenuContent let-question="question">
      <button mat-menu-item type="button" (click)="onNavQuestionUpdate($event, question)">Editar</button>
      <button mat-menu-item type="button" (click)="onNavQuestionDelete($event, question)">Eliminar</button>
      <button mat-menu-item type="button" *ngIf="listsService.isListaInicializada()" (click)="addQuestaoToNovaLista($event, question)">Adicionar a Lista</button>
    </ng-template>
  </mat-menu>

</div>

