<mat-card class="mat-elevation-z8 full-width" style="margin-bottom: 20px">

  <div class="row">
    <div class="col-md-3 col-sm-12 item">
      <span>Tipo</span>
      <span>{{ question.tipo }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Dificuldade</span>
      <span>{{ question.dificuldade }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Disciplina</span>
      <span>{{ question.disciplina }}</span>
    </div>
    <div class="col-md-3 col-sm-12 item">
      <span>Área de Conhecimento</span>
      <span>{{ question.areaConhecimento }}</span>
    </div>
    <div class="col-md-12 col-sm-12 item item--enunciado">
      <span>Enunciado</span>
      <span>
        {{ question.enunciado }}
      </span>
    </div>
    <div class="col-md-6 col-sm-12 item">
      <span>Autor</span>
      <span>{{ question.autor }}</span>
    </div>
    <div class="col-md-5 col-sm-12 item">
      <span>Tags</span>
      <span>{{ question.tag }}</span>
    </div>
    <div class="col-md-1 col-sm-12 item--menu"
         [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

</mat-card>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>
